@import "tailwindcss";

@theme {
  /* Breakpoint */
  --breakpoint-xs: 400px;

  /* Font family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /* Font size */
  --text-xs: 0.6875rem; /* 11px */
  --text-sm: 0.75rem; /* 12px */
  --text-md: 0.875rem; /* 14px */
  --text-base: clamp(0.875rem, 0.6667rem + 0.5208vw, 1rem); /* 14px -> 16px */
  --text-lg: clamp(1.125rem, 0.9167rem + 0.5208vw, 1.25rem); /* 18px -> 20px */
  --text-xl: clamp(1.25rem, 0.8333rem + 1.0417vw, 1.5rem); /* 20px -> 24px */
  --text-2xl: clamp(1.5rem, 0.6667rem + 2.0833vw, 2rem); /* 24px -> 32px */
  --text-3xl: clamp(1.75rem, 0.9167rem + 2.0833vw, 2.25rem); /* 28px -> 36px */
  --text-4xl: clamp(1.75rem, -0.3333rem + 5.2083vw, 3rem); /* 28px -> 48px */

  /* Color */
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-secondary: var(--color-secondary);
  --color-foreground-inverse: var(--color-foreground-inverse);
  --color-search-form-background: var(--color-search-form-background);
  --color-category-background: var(--color-category-background);
  --color-product-item-background: var(--color-product-item-background);
  --color-green: var(--color-green);
}

@layer base {
  :root {
    --color-primary: #000;
    --color-foreground-inverse: #fafafa;
    --color-accent: #db4444;
    --color-secondary: #fff;
    --color-search-form-background: #f5f5f5;
    --color-category-background: #f3f4f6;
    --color-product-item-background: #f5f5f5;
    --color-green: #00ff66;
  }

  [data-theme="dark"] {
    --color-primary: #fafafa;
    --color-foreground-inverse: #000;
    --color-secondary: #000;
    --color-search-form-background: #252525;
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    outline: none;
    cursor: pointer;
    user-select: none;
  }

  input {
    outline: none;
  }
}

@utility container {
  width: min(1218px, 100%);
  padding-inline: 24px;
  margin-inline: auto;

  @media (width >= 0) {
    @apply max-w-none;
  }
}

@utility hide-spinners {
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant can-hover (@media (hover: hover));
